
.button {
  text-align: center;
  color: black;
  font-size: 14px;
  border: none;
  background-color: rgb(173, 148, 232);
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 15px;
}
.dispaly {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: white;
  box-shadow: 5px 5px black;
  border-radius: 10px;
  width: 50%;
  height: 80%;
  margin:5% 25% 5% 25%;
}