.btn{
  position: relative;
  top:10px;
  left:10px;
  bottom: 10px;
}
.display {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 85%;
  height: 90%;
  margin:2.5% 7.5% 2.5% 7.5%;
}